.basket-item{
    background-color: gray;
    width: 50%;
    margin: 20px auto;
    border-radius: 12px;
}

.basket-item .datas-container,
.basket-item .image-container{
    width: 48%;
    display: inline-block;
}

.basket-item .image-container{
    text-align: center;
    padding: 10px;
}


.basket-item .datas-container{
    position: relative;
    top: -40px;
}

.basket-item .datas-container .change-num-button{
    width: 5%;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 8px;
    margin: 20px 10px;
    background-color: #387478;
    color: white;
    cursor: pointer;
}

.basket-item .datas-container .count{
    margin: 20px 0;
}

.basket-item .image-container img{
    width: 200px;
    border-radius: 8px;
}


.checkout{
    text-align: center;
    width: 100%;
}

.checkout button{
    width: 10%;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 8px;
    margin: 20px auto;
    display: block;
    background-color: #387478;
    color: white;
    cursor: pointer;
}

.sum-price span{
    display: block;
    text-align: center;
}